# --- Archivos de entorno / secretos ---
.env
.env.*
secrets/

# --- Dependencias ---
node_modules/

# --- Archivos de logs ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Sistema ---
.DS_Store
Thumbs.db

# --- Docker ---
data/
